<!DOCTYPE html>
<html lang="en"  ng-app="app" ng-init="countries = [{locale:'en-vn', ten:'vn'}]">
<head>
    <meta charset="UTF-8">
    <title>Trang chu</title>
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-ui-router/release/angular-ui-router.js"></script>

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="node_modules/reset-css/reset.css">
    <link rel="stylesheet" href="node_modules/components-font-awesome/css/font-awesome.css">
    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="node_modules/css/modal_css.css">
</head>
<body>
    <div class="row" style="background-color: #e6f9ff">


                <div class="col-lg-1" style = "margin-top: 10px"></div>

                <div class="col-lg-1" style = "margin-top: 10px">
                    <a ui-sref="home"><img src="/assets/img/uet_logo.png"></a>
                </div>

                <div class="col-lg-8">
                    <h2 class="text-center"><strong>ĐẠI HỌC CÔNG NGHỆ - ĐẠI HỌC QUỐC GIA HÀ NỘI</strong></h2>
                </div>

                <div class="col-lg-1" style = "margin-top: 10px">
                    <img src="assets/img/vnu_logo.png">
                </div>

    </div>

    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Đơn vị<span class="caret"></span></a>
                        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Khoa</a>
                                <ul class="dropdown-menu" ng-app="showApp">
                                  <li ng-repeat="faculty in listOfFaculty" ng-if="$first">
                                      <a ui-sref="faculty">{{ faculty.facultyName }}</a>
                                  </li>
                                  <li ng-repeat="faculty in listOfFaculty" ng-if="!$first">
                                      <a ng-href='#'>{{ faculty.facultyName }} </a>
                                  </li>
                                </ul>
                              </li>
                            <li><a href="#">Bộ môn</a></li>
                            <li><a href="#">Văn phòng khoa</a></li>
                            <li><a href="#">Phòng thí nghiệm</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Lĩnh vực</a></li>
                    <li><a href="#">Giảng viên</a></li>
                    <li><a data-toggle="modal" data-target="#login-modal">Login</a></li>
                </ul>
            </div>
            
            <div class="modal fade" ng-controller="loginController" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;" >
                      <div class="modal-dialog">
                            <div class="loginmodal-container">
                                <p> Test </p>
                                <h1>Login to Your Account</h1><br>
                              <form name = "formNhap">

                                <input type="text" name="ten" placeholder="Username" ng-model="user.username" required>
                                <span ng-show="formNhap.ten.$error.required">Username is required</span>

                                <input type="password" name="pw" placeholder="Password" ng-model="user.password" required>
                                <span ng-show="formNhap.pw.$error.required">Password is required</span>
                                <br>

                                <button  ng-disabled="formNhap.$invalid || dataLoading" class="btn btn-danger" ng-click="submit()">Login</button>
                              </form>
                              <div class="login-help">
                                <a href="#">Forgot Password</a>
                              </div>
                            </div>
                        </div>

            </div>
        </div>
    </nav>

    <div>
        <p> tesst {{ hello }} </p>
    </div>

    <div ui-view>
    </div>

</body>
<!--route-->
<script src="app.js"></script>
<script src="show.js"></script>


<script src="modules/about/about.js"></script>
<script src="modules/faculty/faculty.js"></script>
<script src="modules/login/login.js"></script>

<!--<script src="modules/feature/feature.js"></script>-->
<!--<script src="modules/form/form.js"></script>-->
<!--<script src="modules/ajax/ajax.js"></script>-->
<!--<script src="modules/plus/plus.js"></script>-->
<!--<script src="modules/todo/todo.js"></script>-->

<!--controller-->
<script src="modules/about/aboutCtrl.js"></script>
<script src="modules/faculty/facultyCtrl.js"></script>
<script src="modules/login/loginCtrl.js"></script>
<!--<script src="modules/feature/featureCtrl.js"></script>-->
<!--<script src="modules/form/formCtrl.js"></script>-->
<!--<script src="modules/ajax/ajaxCtrl.js"></script>-->
<!--<script src="modules/todo/todoCtrl.js"></script>-->
<!--<script src="modules/plus/plusCtrl.js"></script>-->
<script src="modules/faculty/facultyService.js"></script>
<script src="modules/login/authenService.js"></script>
<!--<script src=